<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Sample App</title>
  </head>
  <body>
    <div id='app'></div>
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="/assets/hammer.js"></script>
    <script type="text/javascript" src="/assets/jquery.hammer.js"></script>
    <script type="text/javascript" src="/assets/datatables.min.js"></script>
    <script type="text/javascript" src="/assets/datatables.js"></script>
    <script type="text/javascript" src="/assets/summernote.min.js"></script>

  </body>
</html>
